<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Hash</title>
</head>
<body>
    <form action="/hashPass" method="post">
        <input type="test" name="username" placeholder="Enter a username">
        <input type="password" name="pass" placeholder="Enter a Password">
        <input type="submit" value="Generate Hash">
        <%= pass %>
    </form><br><br>
    <a href="/compare">Compare Password</a>
</body>
</html>